<!DOCTYPE html>
<html>
    <head>
        <style>
            a {
                text-decoration: none;
            }
        </style>
        <title>
            API Controle de Alugueis
        </title>
    </head>
    <body>
        <h1>Olá!</h1>

        <h3>Esta é a página principal da API do Controle de Alugueis.</h3>
        
        <p>
        Não tem muito para fazer aqui, mas você pode acessar a documentação 
        <a href="https://api-alugueis.dottori.in/docs">neste endereço</a>.
        A aplicação principal fica 
        <a href="https://alugueis.dottori.in/">neste outro endereço</a>.
        </p>
        
        <p>
        Fique à vontade para nos enviar uma mensagem em <a href="mailto:aadottori@gmail.com">aadottori@gmail.com</a> ou em <a href="mailto:albomonaco@gmail.com">albomonaco@gmail.com</a>.
        </p>        
    </body>
</html>


